<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <div style="text-align: center;">
        <a href="/Downloader/Index">Index</a>
        <a> | </a>
        <a href="/Downloader/DownloadList">Download List</a>
    </div>
    @RenderBody()
</body>
</html>