<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
	<script>
	var _hmt = _hmt || [];
	(function() {
		var hm = document.createElement("script");
		hm.src = "https://hm.baidu.com/hm.js?1acf9a32fa27efe583ecd5cf1ce0303a";
		var s = document.getElementsByTagName("script")[0]; 
		s.parentNode.insertBefore(hm, s);
	})();
	</script>
</head>
<body>
    @RenderBody()
</body>
</html>