@model WorldLive.Web.Models.Home.ScreenshotsModel
@{
    ViewData["Title"] = Model.Date.ToString("yyyy年MM月dd日");
}

<script src="~/js/jquery.min.js"></script>
<script src="~/js/jquery.lazyload.js"></script>
<script type="text/javascript" charset="utf-8">
    $(function () {
        $("img.lazy").lazyload({ effect: "fadeIn", threshold: 180 }); //延迟加载
    });
</script>

<div style="width:100%; text-align:center;">
    <p>
		<!-- <a style="padding: 5px; text-decoration: none;">@Model.Date.ToString("yyyy年MM月dd日")</a> -->
		<!-- <a style="padding: 5px; text-decoration: none;">|</a> -->
		<a href="~/home/history" style="padding: 5px; text-decoration: none;">选择日期</a>
	<p/>
    <hr />
    @foreach (var screenshotName in Model.ScreenshotNames)
    {
        <p><a href='~/screenshots/@Model.FolderName/@screenshotName'><img class='lazy' data-original='/Home/Screenshot?folder=@Model.FolderName&name=@screenshotName&scaleType=1' width='640' height='360' /><br />@screenshotName</a></p><br />
    }
    <p>
        @if (Model.LastPage > 0)
        {
            <a>&nbsp;</a>
            <a href='~/home/screenshots?folder=@Model.FolderName&page=@Model.LastPage'>上一页</a>
            <a>&nbsp;</a>
        }
		@if (Model.MaxPage > 1)
		{
			@for(int i = 1; i <= Model.MaxPage; i++)
			{
				<a>&nbsp;</a>
				@if(i == Model.CurrentPage)
				{
					<a>@i</a>
				}
				else
				{
					<a href='~/home/screenshots?folder=@Model.FolderName&page=@i'>@i</a>
				}
				<a>&nbsp;</a>
			}
		}
        @if (Model.NextPage > 0)
        {
            <a>&nbsp;</a>
            <a href='~/home/screenshots?folder=@Model.FolderName&page=@Model.NextPage'>下一页</a>
            <a>&nbsp;</a>
        }
    </p>
    <hr />
    <p><a style="text-decoration: none;" href="javascript:scroll(0,0)">返回顶部</a></p>
</div>